*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.UserProfile{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}
.UserProfile img{
    width: 100%;
    border-radius: 50%;

}

/* overlya effects */

.UserProfile .overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:rgba(0,0,0,0.5) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 50%;


}

.UserProfile:hover .overlay {
    opacity: 1;
}

.UserProfile .overlay .cam-icon{
    font-size: 24px;
    color: white;
    margin-bottom: 8px;

}

.UserProfile .overlay p {
    color: white;
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

.editProfileDiv{
    margin-top: 10px;
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px 30px;
 
}
.profileUpdateheading{
color:#2a9af7;
}

.yourNameWrapper{
    /* background: red; */
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.innerNameWrapper{
    /* background: blue; */
    width: 60%;
    word-wrap: break-word;
    font-size: 1em;
    padding: 5px 5px;

}

.EditSpan{
    /* background: green; */
    width: 30px ;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.innerEditWrapper{
    background: white;
    width: 100%;
    padding: 10px 15px 10px 15px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.innerEditWrapper input , input:focus {
    width: 60%;
    height: 40px;
    padding: 5px 5px;
    border: none;
    border-bottom:2px solid green ;
    outline: none;
    user-select: text;
}

.emoji_Count{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.emoji_Count div {
    width: 20px;
    height: 20px;

}

.emoji-picker-button{
    font-size: 14px;
    border: none;
    background: transparent;

}
/* Your custom CSS file or styles */

 .emojiContainer{
    margin: 300px;
 }
  .emoji-picker{
    position: absolute;
    width: 300px;
    height: 40px;
    background-color: red;
    z-index: 5;
  }
  .EmojiPickerReact{
    background-color: red;
  }


  
.textLimit{
    font-size: 14px;
    line-height: 22px;
    color: #d1d7db;
}
.SaveName{
    width: 30px;
    height: 30px;
    border: none;
    font-size: 18px;
    background: transparent;

}


/* ---------------------------------- */

.Profile-Modal{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    width: 90%;
    max-width: 500px;
    height:max-content;
    border: none !important;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    content:"" ;

}
.Modal-Top{
    background: #C6E3FA;
    height: 50px;
    display: flex;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    
}
.Modal-Top i {
    width: 10%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(155, 152, 152);
}
.Modal-Top h2 {
    width: 60%;
    height: inherit;
    font-size: 18px;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
    /* background-color: black; */
    padding-left: 5px;
}
.Input-Div{
    /* background: red; */
    width: 30%;
    height: inherit;
    cursor: pointer;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    gap: 5px;

}
.Input-Div span {
    font-size: 24px;
    font-weight: 600;
}
/* --------------canvas */


.zoomBtnWrapper{
    width: 28px;
    height: 56px;
    background-color: white;
    border-radius: 5px;
    position: absolute;
    top: 40%;
    right: 10px;
}
.zoomBtnWrapper button {
    width: 100%;
    height: 50%;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.zoomBtnWrapper button span {
    font-size: 16px;
}
.editor-container{
    background-color:rgba(0, 0, 0, 0.384);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
 
}

canvas{
 width: 100% !important;
 height: 100% !important;
 background-color: white;
 /* padding-bottom: 50px; */

}

.Space_Div{
    width: 100%;
    height: 50px;
    background-color: white;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    position: relative;
}

.Img-wrapper{
    position: absolute;
    top:-50px;
    right: 30px;
}

.save_Img{
    width: 70px;
    height: 70px;
    
 

}
   .logOutBtn{
    color:white;
    background-color: red;
    border: none;
    width: 60%;
    height: 40px;
    font-size: 1em;
    font-family: sans-serif;
    border-radius: 5px;
    position: absolute;
    bottom: 40px;
    cursor: pointer;
    transition: all .3s ease;
   }
   .logOutBtn:hover{
    background-color:#ff005d ;


   }
   .logOutBtn:active{
    transform: scale(0.9);
   }